.bg {
  height: max-content;
  width: 250px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.taskContainer {
  width: 100%;
}

.addBtn {
  background-color: hsl(243, 45%, 57%);
  border: none;
  border-radius: 25%;
  width: 30px;
  font-size: 1.6rem;
  height: 30px;
  color: white;
  cursor: pointer;
}

.handleBar {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.handleBar:hover {
  background-color: hsl(240, 15%, 17%);
}