.bg {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  top: 0;
  left: 0; 
}

.formContainer {
  background-color: hsl(240, 12%, 20%);
  color: rgb(33, 32, 32);
  padding: 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  max-width: 500px;
  min-height: 35vh;
  max-height: 70vh;
  color: white;
}

.loginBtn {
  min-height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  color: hsl(243, 45%, 57%);
  cursor: pointer;
  background-color: white;
}

.loginBtn:hover {
  background-color: hsl(0, 0%, 90%);
}

.createAccountBtn {
  min-height: 40px;
  background-color: hsl(243, 45%, 57%);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

.createAccountBtn:hover {
  background-color: hsl(243, 45%, 60%);
}
