.bg {
  display: flex;
  min-height: 80px;
  min-width: 100vw;
  height: 60px;
  color: black;
  background-color: rgb(44, 44, 56);
  align-items: center;
}

.optionsContainer {
  width: 100vw;
  color: white;
  position: fixed;
  display: flex;
  font-size: 1.2rem;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.addBtn {
  background-color: rgb(100, 95, 195);
  border: none;
  border-radius: 25%;
  width: 40px;
  font-size: 1.6rem;
  height: 40px;
  color: white;
}