.nav {
  min-height: calc(100vh - 98px);
  background-color: hsl(240, 12%, 20%);
  width: 220px;
  border-right: 1px solid hsl(240, 12%, 30%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.subMenuContainer {
  width: 100%;
  height: 40px;
}

.addBtn {
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  height: 40px;
  color: white;
  cursor: pointer;
}