.modalContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.taskSettingsContainer {
  background-color: hsl(240, 12%, 20%);
  color: rgb(33, 32, 32);
  padding: 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  max-width: 500px;
  height: 67vh;
  color: white;
}

.containerScrollWrapper {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
  width: calc(100%);
}

.closeModalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskSettingsHeader {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.descriptionInput {
  height: 120px;
  resize: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  background-color: hsl(240, 12%, 20%);
  border-radius: 5px;
  border: 2px solid hsl(240, 9%, 25%);
  color: white;
  padding: 10px;
}

.descriptionInput:hover {
  border: 2px solid hsl(240, 9%, 40%);
}

.createTaskBtn {
  height: 40px;
  margin: 0 0 5px 0;
  background-color: hsl(243, 45%, 57%);
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.createTaskBtn:hover {
  background-color: hsl(243, 45%, 60%);
}

.closeModal {
  border: none;
  border-radius: 25%;
  width: 30px;
  font-size: 1.4rem;
  height: 30px;
  color: hsl(243, 45%, 57%);
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
}

.closeModal:hover {
  background-color: hsl(0, 0%, 90%);
}

.subTaskInput {
  height: 30px;
  resize: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  background-color: hsl(240, 12%, 20%);
  border-radius: 5px;
  border: 2px solid hsl(240, 9%, 25%);
  color: white;
  padding: 5px 10px;
}

.subTaskInput:hover {
  border: 2px solid hsl(240, 9%, 40%);
}

.selectInput {
  height: 44px;
  resize: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  background-color: hsl(240, 12%, 20%);
  border-radius: 5px;
  border: 2px solid hsl(240, 9%, 25%);
  color: white;
  padding: 5px 10px;
}

.selectInput:hover {
  border: 2px solid hsl(240, 9%, 40%);
}

.createSubTaskBtn {
  height: 40px;
  margin: 0 0 5px 0;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  color: hsl(243, 45%, 57%);
  cursor: pointer;
}

.createSubTaskBtn:hover {
  background-color: hsl(0, 0%, 90%);
}